@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Mulish:wght@400;700&display=swap');

$color-1: #EBC3DB;
$color-2: #6C6F7D;
$color-3: #985F6F;
$color-4: #4E4C67;


$main-color-1: #8029A3;
$main-color-2: #9130A5;
$main-color-3: #C143AA;
$main-color-4: #F35639;
$main-color-5: #F98B48;
$main-color-6: #FCA950;
$main-color-7: #FEB955;

.home-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  font-family: "Muli", sans-serif;

  .container-header h3 {
    font-size: 18px;
  }

  .top {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;

    .new-logo {
      width: 150px;
      height: 150px;
      margin: 10px 0 0 -10px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    i {
      position: absolute;
      right: 10px;
      font-size: 15px;
      cursor: pointer;
      color: #fff;
      border: 2px solid $main-color-5;
      border-radius: 5px;
      padding: 5px;
      background-color: $main-color-5;

      &:active {
        transform: scale(0.97);
        outline: none;
      }
    }
  }

  .home-reel {
    position: relative;
    display: flex;
    height: 250px;
    width: 98%;
    margin-top: 10px;
    border-radius: 5px;
    background: #fff;

    .slider {
      overflow: hidden;

      figure {
        position: relative;
        width: 500%;
        height: 100%;
        margin: 0;
        left: 0;
        animation: slider 20s infinite;

        img {
          width: 20%;
          height: 100%;
          float: left;
        }
      }
    }
  }

  .deals {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 5px;
    width: 96%;
    border-radius: 5px;
    background-color: #fff;

    .container-header {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;

      h3 {
        font-size: 14px;
      }

      i {
        position: absolute;
        right: 5px;
        color: rgba(34, 32, 32, 0.6);
        font-size: 13px;
      }
    }

    .deals-content {
      width: 100%;
      height: 150px;
      margin-top: 5px;
      border-radius: 5px;
    }
  }

  .new-arrivals {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;

    .container-header {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;

      h3 {
        font-size: 14px;
      }

      i {
        position: absolute;
        right: 5px;
        color: rgba(34, 32, 32, 0.6);
        font-size: 13px;
      }
    }

    .new-arrivals-content {
      width: 100%;
      height: 500px;
      margin-top: 5px;
    }
  }

  .recommendations {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 15px 0 70px;
    padding: 5px;
    background-color: #fff;

    .container-header {
      display: flex;
      position: relative;
      align-items: center;

      h3 {
        font-size: 14px;
      }
    }

    .recommendations-content {
      width: 100%;
      height: 500px;
      margin-top: 5px;
    }
  }
}

@keyframes slider {
  0% {
    left: 0
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

@media screen and (min-width: 650px) {
  .home-window {
    .top {
      display: none;
    }

    .home-reel {
      margin: 100px 0 0;
      height: 350px;
    }
  }
}